body {
    background-image: url('../images/concert-tix.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    margin: 20px;
  }
  select {
    padding: 8px;
    font-size: 16px;
  }
  /* Style for the iframe container and the iframe itself */
  .iframe-container {
    margin-top: 20px;
    border: 1px solid #ccc;
    height: 600px; /* Adjust height as needed */
    width: 100%;
  }
  iframe {
    width: 100%;
    height: 100%;
    border: none; /* Remove default iframe border */
  }
  label {
    font-weight: bold;
  }
  h1 {
    text-align: center;
  }
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
  }
  .action-button {
    background-color: #007bff;
    color:white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top:10px;
  }
  .action-button:hover {
    background-color: #0056b3;
  }
  /* Hide specific duplicate options by attribute value */
  /* This is a simple workaround for the technical issue with duplicates in the dropdown */

  select#siteSelectorDropdown option[value="https://www.davisarts.org"] + option[value="https://www.davisarts.org"] {
    display: none;
  }
  